:host {
  .container {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      border: 2px solid transparent;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      .profile-picture {
        object-fit: cover;
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
      }
    }

    &.large {
      height: 40px;
      width: 40px;
      border: 4px solid #cddc39;

      border-top-color: #ff5722;
      border-left-color: #ff5722;
    }

    &.normal {
      height: 30px;
      width: 30px;
      border: 3px solid #cddc39;

      border-top-color: #ff5722;
      border-left-color: #ff5722;
    }

    &.small {
      height: 20px;
      width: 20px;
      border: 2px solid #cddc39;

      border-top-color: #ff5722;
      border-left-color: #ff5722;
    }
  }
}
