<div *ngIf="user" class="w-full max-w-3xl">
    <!-- Form -->
    <form [formGroup]="accountForm">
        <!-- Section -->
        <div
            class="w-full grid grid-cols-2 gap-4 align-content: space-between;"
        >
            <div class=" ">
                <div class="text-xl">Profile</div>
                <div class="text-secondary">
                    {{
                        "Following information is publicly displayed, be careful!"
                            | translate
                    }}
                </div>
            </div>
            <div class="content-center w-full">
                <div *ngIf="updatepicture" fxLayout="column">
                    <div
                        class="upload"
                        ngx-dropzone
                        accept="image/gif,image/jpeg,image/pjpeg,image/png,image/x-png"
                        (change)="onSelectProfilePecture($event)"
                    >
                        <ngx-dropzone-label>
                            <!-- <button class="uploadButton" type="button">
                                change photo
                            </button> -->
                        </ngx-dropzone-label>
                        <ngx-dropzone-image-preview
                            ngProjectAs="ngx-dropzone-preview"
                            *ngFor="let f of filesProfilePicture"
                            [file]="f"
                            [removable]="true"
                            (removed)="onRemoveProfilePecture(f)"
                        >
                            <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                        </ngx-dropzone-image-preview>
                    </div>
                </div>
                <div *ngIf="!updatepicture">
                    <img
                        *ngIf="profilePicture"
                        class="max-h-50 max-w-50"
                        [src]="profilePicture"
                    />
                </div>
                <button
                    class="mt-4 align-center"
                    type="button"
                    mat-stroked-button
                    [color]="'primary'"
                    (click)="updatePic()"
                    *ngIf="updatepicture"
                >
                    {{ "cancel" | translate }}
                </button>
                <button
                    class="mt-4 align-center"
                    type="button"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="updatePic()"
                    *ngIf="!updatepicture"
                >
                    {{ "update picture" | translate }}
                </button>

                <button
                    *ngIf="updatepicture"
                    class="ml-4"
                    mat-flat-button
                    type="button"
                    [color]="'primary'"
                    (click)="updatedPicture()"
                >
                    {{ "Save" | translate }}
                </button>
            </div>
        </div>

        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-4">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>{{ "Name" | translate }}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:user'"
                        matPrefix
                    ></mat-icon>
                    <input [formControlName]="'full_name'" matInput />
                </mat-form-field>
            </div>

            <!-- Title -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>{{ "Title" | translate }}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:briefcase'"
                        matPrefix
                    ></mat-icon>
                    <input [formControlName]="'title'" matInput />
                </mat-form-field>
            </div>

            <!-- Description -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="fuse-mat-textarea fuse-mat-no-subscript w-full"
                >
                    <mat-label>{{ "Description" | translate }}</mat-label>
                    <textarea
                        matInput
                        [formControlName]="'description'"
                        matTextareaAutosize
                    ></textarea>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">
                    {{
                        " Brief description for your profile. Basic HTML and Emoji are
                    allowed."
                            | translate
                    }}
                </div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl">{{ "Personal Information" | translate }}</div>
            <div class="text-secondary">
                {{
                    "Communication details in case we want to connect with you. These
                will be kept private."
                        | translate
                }}
            </div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>{{ "Email" | translate }}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:mail'"
                        matPrefix
                    ></mat-icon>
                    <input
                        class="disabled"
                        type="text"
                        [formControlName]="'email'"
                        matInput
                    />
                </mat-form-field>
            </div>
            <!-- Phone -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>{{ "Phone" | translate }}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:phone'"
                        matPrefix
                    ></mat-icon>
                    <input [formControlName]="'phone_number'" matInput />
                </mat-form-field>
            </div>
            <!-- Country -->
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>{{ "Town" | translate }}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:location-marker'"
                        matPrefix
                    ></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'Ariana'">Ariana</mat-option>
                        <mat-option [value]="'Tunis'">Tunis</mat-option>
                        <mat-option [value]="'Manouba'">Manouba</mat-option>
                        <mat-option [value]="'Ben Arous'">Ben Arous</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- picture -->
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <!-- <button mat-stroked-button type="button">
                {{ "Cancel" | translate }}
            </button> -->
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'"
                (click)="update()"
            >
                {{ "Save" | translate }}
            </button>
        </div>
    </form>
    <div *ngIf="checkLicence() == false">
        <div *ngIf="user.role == 'ophto'" fxLayout="column">
            <br />
            <div
                class="upload"
                ngx-dropzone
                accept="image/gif,image/jpeg,image/pjpeg,image/png,image/x-png"
                (change)="onSelect($event)"
                [multiple]="false"
            >
                <ngx-dropzone-label>
                    <button class="uploadButton" type="button">
                        {{ "Update Medical License" | translate }}
                    </button>
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview
                    class="w-full"
                    ngProjectAs="ngx-dropzone-preview"
                    *ngFor="let f of files"
                    [file]="f"
                    [removable]="true"
                    (removed)="onRemove(f)"
                    (change)="onSelectedFile($event)"
                >
                </ngx-dropzone-image-preview>
            </div>
            <button
                (click)="savelicense()"
                type="submit"
                class="mt-4 align-center"
                mat-flat-button
                type="button"
                [color]="'primary'"
            >
                {{ "save License" | translate }}
            </button>
        </div>
    </div>
</div>
